@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

:root {
    --margin: 16px;
}

.console {
    position: absolute !important;
    margin: 0;
    width: 500px;
    height: 300px;
    padding: 0;
    z-index: 100;
    background: #fff;
    left: 0;
    top: 3rem;
}

.console .hidden {
    opacity: 1;
}

.console {
    & > * {
        margin: 0;
        font-family: 'JetBrains Mono', monospace;
    }

    & > header {
        height: 60px;
        background: #ccc;
        display: flex;
        align-items: center;
    }

    & > header {
        & > button {
            position: absolute;
            right: var(--margin);
        }

        & > span {
            margin-left: var(--margin);
            font-weight: bolder;
        }
    }
}